#maven
target
#eclipse
.classpath
.project
.settings
#something
/Notes
/ACNNotSupportedAnalysis.ods
#linux editor tmp file
*.*~
/SmppSimulatorParameters.xml
/test-output
${env.JBOSS_HOME}

/SmscPropertiesManagementTest_smscproperties.xml
